.app.dark{
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    
    --primary-color: #049604;   // для загаловка
    --secondary-color: #04ff04; // для текста

    --inverted-primary-color: #0232c2; // для загаловка
    --inverted-secondary-color: #0452ff; // для текста
}