.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;


  --primary-color: #0232c2; // для загаловка
  --secondary-color: #0449e0; // для текста

  --inverted-primary-color: #048604;   
    --inverted-secondary-color: #04ff04; 
}
